:root{
  --custom-blue: #1375CB;
  --custom-orange: #DD5F32;
  --pacifico :'Pacifico', cursive;
  --main-font: 'Droid Sans', sans-serif;
}
@media(max-width: 900px) {
 .caption p {
    font-size: 15px;
  }
}
@media(max-width: 760px) {
  .caption p {
    font-size: 12px;
  }
}

@media(max-width: 480px) {
  .box img{
    width: 30px;
  }

  .caption p {
    font-size: 10px;
    padding-left: 0px;
  }
}
html{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body{
  over-flow: hidden;
  background-color: black;
  color: var(--custom-blue);
  font-family: var(--main-font);
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;

}

.hero-overlay{
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  margin:0;
  padding:0;

}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

h3{
  color: #B8BCC6;

  font-weight: 500;
}
.boxes{
  max-width: 100%;
  text-align: center;
  padding-left: 20px;
}

.box{
/*   text-align: center; */

}

.box img{
  max-width: 50px;
}

.box p{

  color: var(--custom-orange);
}

#about{
  background-image: url("https://images.unsplash.com/photo-1417577097439-425fb7dec05e?");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
/*   padding-top: 80px; */
  min-height: 100%;
  min-width: 100%;

}
.fancy-h1{
  font-family: var(--pacifico);
  text-shadow: 1px 1px 0px black;
  text-decoration: none;
  color: var(--custom-blue);
}


p{
  color: white;
  text-shadow: 1px 1px 0px black;
  font-weight: 500;
}

hr{
  color: var(--custom-orange);
}



#about h2{
  color: var(--custom-orange);
  font-size: 200%;
  text-shadow: 2px 2px 3px black;
  font-weight: 500;
}

#projects{
/*   background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2"); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}


a img{
  border: solid 1px transparent;
}
a img:hover{
  border: solid 1px var(--custom-orange);
}
.icon-bar{
  color:#1375CB;
}

#content{

  background: transparent;
  text-align: center;
  /*color: #DD5F32;*/
  color: #1375CB;
  float: left;
  max-width: 50%;

}

#splash-jumbo{
  max-width: 50%;
}

#splash-jumbo h1{
  text-shadow: 1px 1px 1px black;
}

#splash{

  padding-top: 200px;
  background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;

}

.section{
  min-height: 1000px;
  min-width: 100%
}

#footer{
  width: 100%;
  float: left;
  height: 20px;
 background-color: transparent;
 bottom: 0;
}

#wrap {
  width: 100%
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px 0;
  border: 5px solid purple;
}

.thumbnail{
  background-color: transparent;
  border: none;

}

.caption{
  background-color: transparent;
  border: none;

}


.jumbotron{
  background: transparent;
}

#myLogo{
    color: var(--custom-blue);/* Blue- */
    font-weight: bold;
    font-family: var(--pacifico);
    font-size: 150%;
    font-weight: 400;
    text-shadow: 1px 1px 0px black;
    padding:0;
    padding-top: 20px;
}

#myLogo span{
  color: var(--custom-orange);
}

#myImage{
  border: 2px solid var(--custom-blue);
}

#main-navbar{
  background-color: #424448;
  color: var( --custom-orange);
  margin-bottom: 0;

  text-align: center;
  border: 0;
  border-radius: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.7em;

}
#main-nav li{
  padding-top: 10px;
}
#main-nav li a{
  color: var( --custom-orange);
  border:0;
  transition: .5s;
}

#main-nav li a:hover{

  color: white;

}

  .proj-preview{
   transition: background 1.0s;
   -moz-transition: 1.0s;
    -ms-transition: 1.0s;
    -o-transition: .1.0s;
    -webkit-transition: .1.0s;
    opacity: 0.5;
  }

  .proj-preview:hover{
    opacity: 1.0;

  }

  .description{
    display: none;

  }
